body {
    background-color: #DEDEDE;
}
h1 {
    color: #5000ff;
    font-family:'Courier New', Courier, monospace;
    font: 100;
}

#app-content {
    margin-top: 20px;
}

.card:hover {
    background-color: aqua;
}

.card-link {
    color: #000;
    text-decoration: none;
}

.card-link:hover{
    color: #5000ff;
}